######################
# VACUUM MAINTENANCE #
######################

# Reset Main Brush
vacuum_reset_main_brush:
  alias: "Reset hours for main brush replacement"
  icon: mdi:broom
  sequence:
    - service: vacuum.send_Command
      data:
        entity_id: vacuum.xiaomi_vacuum_cleaner
        command: reset_consumable
        params: ['main_brush_work_time']

# Reset Side Brush
vacuum_reset_side_brush:
  alias: "Reset hours for side brush replacement"
  icon: mdi:brush
  sequence:
    - service: vacuum.send_Command
      data:
        entity_id: vacuum.xiaomi_vacuum_cleaner
        command: reset_consumable
        params: ['side_brush_work_time']
        
# Reset Filter
vacuum_reset_filter:
  alias: "Reset hours for filter replacement"
  icon: mdi:air-filter
  sequence:
    - service: vacuum.send_Command
      data:
        entity_id: vacuum.xiaomi_vacuum_cleaner
        command: reset_consumable
        params: ['filter_work_time']
        
# Reset Sensors
vacuum_reset_sensors:
  alias: "Reset hours for sensors cleaning"
  icon: mdi:eye
  sequence:
    - service: vacuum.send_Command
      data:
        entity_id: vacuum.xiaomi_vacuum_cleaner
        command: reset_consumable
        params: ['sensor_dirty_time']


################
# VACUUM ZONES #
################

# VACUUM RDC
vacuum_clean_rdc:
  alias: Aspirer RDC
  icon: mdi:floor-plan
  mode: single
  fields:
    fan_speed:
      description: 'set_fan_speed : Silent, Standard, Turbo, Max'
      example: 'Silent = 38 - Standard = 60 - Turbo = 75 - Max = 100'
  sequence:
  - service: vacuum.set_fan_speed
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      fan_speed: 38 # force Silent fan speed in order to be able to clean all RDC without battery drain
  - service: xiaomi_miio.vacuum_clean_zone
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      repeats: 1
      zone: 
      - [20799,14850,26349,18800] #bureau
      - [20747,18973,27947,20873] #entrée
      - [26622,19809,28572,26359] #cuisine
      - [20966,21048,26766,25998] #salle à manger
# en attente de plinthe     - [21908,26215,26908,30565] #salon
      
# VACUUM Salle à manger
vacuum_clean_salleamanger:
  alias: Aspirer Salle à manger
  icon: mdi:silverware-fork-knife
  mode: single
  fields:
    fan_speed:
      description: 'set_fan_speed : Silent, Standard, Turbo, Max'
      example: 'Silent = 38 - Standard = 60 - Turbo = 75 - Max = 100'
  sequence:
  - service: vacuum.set_fan_speed
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      fan_speed: 60 #"{{ fan_speed }}"
  - service: xiaomi_miio.vacuum_clean_zone
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      repeats: 1
      zone: 
      - [20966,21048,26766,25998]
      
# VACUUM Cuisine
vacuum_clean_cuisine:
  alias: Aspirer Cuisine
  icon: mdi:fridge
  mode: single
  fields:
    fan_speed:
      description: 'set_fan_speed : Silent, Standard, Turbo, Max'
      example: 'Silent = 38 - Standard = 60 - Turbo = 75 - Max = 100'
  sequence:
  - service: vacuum.set_fan_speed
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      fan_speed: 60 #'{{ fan_speed }}'
  - service: xiaomi_miio.vacuum_clean_zone
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      repeats: 1
      zone: 
      - [26622,19809,28572,26359]
      
# VACUUM Entrée
vacuum_clean_entree:
  alias: Aspirer Entrée
  icon: mdi:door
  mode: single
  fields:
    fan_speed:
      description: 'set_fan_speed : Silent, Standard, Turbo, Max'
      example: 'Silent = 38 - Standard = 60 - Turbo = 75 - Max = 100'
  sequence:
  - service: vacuum.set_fan_speed
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      fan_speed: 60 #'{{ fan_speed }}'
  - service: xiaomi_miio.vacuum_clean_zone
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      repeats: 1
      zone: 
      - [20747,18973,27947,20873]
      
# VACUUM Bureau
vacuum_clean_bureau:
  alias: Aspirer Bureau
  icon: mdi:desktop-mac
  mode: single
  fields:
    fan_speed:
      description: 'set_fan_speed : Silent, Standard, Turbo, Max'
      example: 'Silent = 38 - Standard = 60 - Turbo = 75 - Max = 100'
  sequence:
  - service: vacuum.set_fan_speed
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      fan_speed: 60 #'{{ fan_speed }}'
  - service: xiaomi_miio.vacuum_clean_zone
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      repeats: 1
      zone: 
      - [20799,14850,26349,18800]
      
# VACUUM Salon
vacuum_clean_salon:
  alias: Aspirer Salon
  icon: mdi:sofa
  mode: single
  fields:
    fan_speed:
      description: 'set_fan_speed : Silent, Standard, Turbo, Max'
      example: 'Silent = 38 - Standard = 60 - Turbo = 75 - Max = 100'
  sequence:
  - service: vacuum.set_fan_speed
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      fan_speed: 60 #'{{ fan_speed }}'
  - service: xiaomi_miio.vacuum_clean_zone
    data_template:
      entity_id: vacuum.xiaomi_vacuum_cleaner
      repeats: 1
      zone: 
      - [21908,26215,26908,30565]