.site-logo {
  background-position: center !important;
}

.side-bar {
  background-color: #4e6474 !important;
}

.page-header .d-inline-block {
  background-color: #4e6474 !important;
  padding: 10px;
}

.page-header .d-inline-block a, .navigation-list-link, .navigation-list-link.active, footer.site-footer p, footer.site-footer a, menu-button {
  color: white !important;
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: calc((100% - 1364px) / 2 + 264px) !important;
  }
  .main-content {
    margin-left: calc((100% - 1164px) / 2 + 264px) !important;
    max-width: 1000px !important;
  }
}

@media (min-width: 50rem) {
  .site-header {
    height: 150px !important;
    max-height: 150px !important;
    border-bottom: none !important;
  }
}

.nav-list .nav-list-item .nav-list-link {
  color: white;
}
.nav-list .nav-list-item .nav-list-link.active {
  color: #7253ed;
}
